<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12 d-header d-flex align-items-center justify-content-center">
            <img class="d-header-img" src="../../../assets/error_icon2.png" alt="">
        </div>
        <div class="col-12 d-main">
            <h5>There seems to be an issue :(</h5>
            <p class="par">
                {{ mainText }}
            </p>
        </div>
        <div class="col-12 d-footer">
            <div class="d-footer-content text-center">
                <button (click)="close()" mat-button color="primary">OK</button>
            </div>
        </div>
    </div>
</div>