<div class="container-fluid">

    <div class="close-container row d-flex justify-content-end no-gutters">
        <div class="col-1 text-right">
                <mat-icon (click)='close()' class="icon">close</mat-icon>
        </div>
    </div>
    
    <div class="row mainrow no-gutters">
        <div class="col-5 left-container">
            <h2 class="text-uppercase">Welcome to PhraseMap!</h2>
            <h5 class="">An interactive tool that allows you to search for a location, using a phrase!</h5>
        </div>

        <div class="col-7 right-container">
            <div class="mainrow row no-gutters">
                <div class="col-12 top">
                    <p>Welcome to PhraseMap!</p>
                    <p>The tool that allows you to search and find place, using a phrase or sentence. Simply click on a point on the map, and make a phrase from the results!</p>
                    <p>Now you can use this phrase to index that same location. Send it your friends and collegues, or your delivery driver, and using just a few words he or she can pinpoint your location in just a few seconds! It's that easy!</p>
                    <p>There are however two rules when it comes to composing your phrase. Using the two keywords provided for the location you have chosen, structure your phrase such that the first word that has more than three characters is one of the keywords, and the last word that has more than three characters is the other keyword.</p>
                </div>
                <div class="col-12 bottom">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

</div>