.container-fluid {
    height: 75vh;
    width: 70vw;
    padding: 0;
}

.close-container {
    position: absolute;
    z-index: 1;
    width: 70vw;
    
}

.icon {
    color: #392c40;
    font-size: 40px;
    padding-right: 70px;
    padding-top: 30px;
    cursor: pointer;
}